
html, body{
  margin:0;
  padding: 0;
  background: linear-gradient(135deg, #e6dede 0%, #e4e8f0 100%);
overflow-y: auto;
font-family: Manrope;
}
.seemore{
  
    cursor: pointer;
}
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: 0;
    margin-top: 30px;
}

.box-card {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    cursor: pointer;
     animation: rotate3d 8s infinite linear;
    
}



.face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    backface-visibility: visible;
    border: 2px solid black;
    transition: all 0.3s ease;
    overflow: hidden;
    background: #111;
opacity: 0.4
}






.front {
    transform: translateZ(100px);
 
}

.back {
    transform: translateZ(-100px) rotateY(180deg);
 
}

.right {
    transform: translateX(100px) rotateY(90deg);

}

.left {
    transform: translateX(-100px) rotateY(-90deg);
   
   
}

.top {
    transform: translateY(-100px) rotateX(90deg);
   
}

.bottom {
    transform: translateY(100px) rotateX(-90deg);
  
}

@keyframes rotate3d {
    0% {
        transform: rotateX(0) rotateY(0);
    }
    25% {
        transform: rotateX(90deg) rotateY(90deg);
    }
    50% {
        transform: rotateX(180deg) rotateY(180deg);
    }
    75% {
        transform: rotateX(270deg) rotateY(270deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

@media (max-width: 780px) {
    .box-card {
        width: 150px;
        height: 150px;
    }
    
    .front { transform: translateZ(75px); }
    .back { transform: translateZ(-75px) rotateY(180deg); }
    .right { transform: translateX(75px) rotateY(90deg); }
    .left { transform: translateX(-75px) rotateY(-90deg); }
    .top { transform: translateY(-75px) rotateX(90deg); }
    .bottom { transform: translateY(75px) rotateX(-90deg); }




}


.card{
  position: relative;
  width: 320px;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  transform-style: preserve-3d;
  background-color: whitesmoke;
padding: 10px;
box-shadow: 0px 3px 20px rgba(0,0,0,0.1)
}

.card .userpost{
  width: 100%;
  height: 60%;
  object-fit: cover;
  display: block;
  transition: 0.2s ease;
  box-shadow: inset 0px 4px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  //transform: translate(8%,10%);
 
}
.cardtext{
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  transform: translateY(55%);
  transition:transform 0.3s ease, opacity 0.3s ease;
  border-radius: 20px;
 border-radius: 10px;
 width: 100%;
//border-top:1px solid rgba(255, 255, 255, 0.6);
  opacity: 1;
  font-family: Lato;
  
}




.cardtext h3{
    font-size: 17px;
     width: fit-content;
    padding: 2px;;
    border-radius: 7px;
    color: black;
    transform: translate(48%,20%);
    color: purple;
}
.cardtext p{
    font-size: 15px;
    
}
.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 70px;
 margin-top: 150px;
  //background:rgba(255,255,255,0.3);
  padding: 50px;
  //border-radius: 15px;
  //border: 3px solid rgba(255,255,255,0.6);
    position: absolute;
    overflow: hidden;
    scrollbar-width: none;
    width: 90%;
    margin-left: 3%;
  
}

.card .userpost:hover{
  transform: translateZ(10px) scale(1.05);
 
}
.userpost{
    border-radius: 10px;
}

.userimage{
    width: 10%;
    position:absolute;
    display: flex;
    transform: translate(-10%,55%);
    z-index: 1;
}

.timestamp{
  position: relative;
 margin-top: 10%;
  margin-left: 10%;
   width: 70px;
  font-size: 13px;
  border-radius: 10px;
  transform: scale(0.8);
   font-family: Lato;
  color: rgb(95, 93, 93);
  z-index: -1;
}

#dot{
  width: 10px;
  height: 10px;
  background: white;
  position: absolute;
  border-radius: 50%;
  margin-left: -15px;
  font-size: 1px;
  margin-top: 3px;

}
#actions{
    display: flex;
 justify-content:center;
    align-items: center;
}
#actions li{
    display: flex;
    margin-right: 20%;
    transform: translate(0%,300%);
    opacity: 0.5;
}
.navbar{
    border: 1px solid;
    width: 70%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    border-radius: 20px;
    color: whi;
 background: rgba(255,255,255,0.3);
  border:1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0px 1px 12px rgba(0,0,0,0.1);
    position: fixed;
    backdrop-filter:blur(20px);
    position: absolute;
  z-index:1;
    font-family: Inter ;
}

.navbox{
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}


.navbar ul{
    display: flex;
    //margin-right: -100px;
    font-family: Inter;
    font-size: 15px;
    margin-left: 90px
}


.navbar li{
    display: block;
    margin-right: 100px;
transform: translate(0px,15%);
}
.navbar li:hover{
    cursor:pointer
}


.navbar div{
    margin-right: 15%;
    font-family: Audiowide;
}

.navbar li span{
    transform: translate(20%,-10%);
    position: absolute;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   box-shadow:0px 2px 12px rgba(0,0,0,0.2) ;
    width: 85%;
    height: 400px;
    background: linear-gradient(65deg, black 50%, #d9d7d7 50% );
    margin-top: 100px;
    border-radius: 20px;
    padding-bottom: 20px;
    font-family: Audiowide;
    margin-left: 7%;
}
.hero{
    margin-top: -60px;
    color: black
}
.hero .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0px, -200px);
    letter-spacing: 14px;
    position: absolute;
    width:100%
}

.intro h1{
    font-size: 40px;
    font-family:;
    color: transparent;
    -webkit-text-stroke: 1px black;

}
.intro h1 .black{
color: transparent;
    -webkit-text-stroke: 0.5px white;

}
.black{
    color: white
}


.intro h2{
    width: 550px;
    display: flex;
    justify-content: center;
    
}
.intro h2 span{
    padding-right: 10px
}
.intro h3{
    width: 400px;
    display: flex;
    justify-content: center
}

#recent{
    display: flex;
    position: absolute;
    margin-top: 100px;
    font-size: 20px;
   left: 20px;
    font-family: Lato;
    border-left: 3px solid black;
    height: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
}
.seemore{
    display: flex;
    right: 30px;
    position: absolute;
    margin-top: 100px;
    font-family: Lato
}
.seemore span{
 margin-top:-2px;
}


.post-box{
 position: absolute;
   margin-top: 30px;
   display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    justify-content: center;
background-color: rgba(255, 255, 255, 0.3);
backdrop-filter: blur(10px);
padding: 10px;
font-family: Lato;
margin-left: 30%;
}

.post-box #main-post{
    height: 100px;
    margin-bottom:10px;
    border-radius: 20px;
    border: rgba(255,255,255,0.6);
    background: rgba(255,255,255, 0.4);
    width: 72%
}

#username{
    border-radius: 10px;
     border: rgba(255,255,255,0.6);
    padding: 5px;
    width: 50%;
    background: rgba(255 ,255,255, 0.8);
    left: 30;
    display: flex;
    position: absolute;
}

input:focus{
    outline: none
}
.post-box button{
    width: 100%;
    padding: 5px;
    border: 2px solid black ;
    border-radius: 10px;
    transition: 0.3s ease;
    font-size: 16px;
    font-family: Inter;
    background-color: #111;
    color: white;
    justify-content: center;
    align-items: center;
}
.post-box button:hover{
    background-color:white;
    border:2px solid black;
    color: black;
    cursor: pointer;
}
.icons{
    display: flex;
padding: 10px;
margin-right: 10px;
gap: 10px;
}

#preview{
    z-index: 1;
    right: 10px;
    top: 10px;
    display: flex;
    position:absolute;
    height: 100px;
    width: 100px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    object-fit: cover;
}

  .head{
    margin-top: 100px;
    font-size: 20px;
    font-family: Inter;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  #loading{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 50px;
  }

.profileinfo{
   width: 13%;
   display: flex;
   flex-direction: column;
   position: absolute;
   justify-content: center;
   height: fit-content;
   border: 1px solid rgba(255, 255, 255, 0.3);
   right: 14%;
   z-index:1;
   top: 8%;
border-radius: 10px;
background-color: whitesmoke;
box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
padding: 5px;
transition: 0.2s ease;
height: 5vh;
font-size: 14px;
scale: 0;
}

#img{
    transform: translate(0px, -13px);
}
#usernameinfo{
    transform: translate(0px,15px);
}


   @media (max-width:780px) {
    .container{
          grid-template-columns: repeat(2,1fr);
    }
     .navbar{
  height: 4vh;
 }
 .navbar li{
        margin-right: 55px;
        font-size: 15px;
    }
       .navbar div{
           margin-right:5%
       }
       .navbar ul{
           margin-right: -50px
       }
    .header{
        width: 90%;
        margin-top: 100px;
        height: 50vh;
        padding-bottom: 0px;
        margin-left: 5%;
       
    }
       .header h1{
           font-size: 35px
       }
       .header h2 span{
           margin-right: 10px
       }
       .header h3 span{
           margin-right: 6px
       }
    .card{
       font-size: 15px;
        font-family: Inter;
        object-fit: contain;
    }
    .container{
      width: 80%;
        gap:40px;
        scale: 0.95;
        margin-top: 100px;
        padding-left: 45px;
  }
    .seemore{
        right:30px;
        margin-top: 80px
    }
       #recent{
           margin-top: 80px
       }
       .post-box{
           margin-top: 30px;
           width: 60%;
           margin-left: 20%;
       }

       .profileinfo{
        width: 18%;
        right:1%;
        font-size:13px;
       }
   }

   @media (max-width:480px){
    .container{
          grid-template-columns: repeat(1,1fr);

    }
        .navbar{
        width: 90%;
        justify-content: center;
        display: flex;
      height:4vh;
        position:fixed
    }
    .navbar li{
        margin-right: 30px;
        font-size: 10px;
    }
       .navbar div{
           margin-right:8%
       }
       .navbar ul{
           margin-right: -20px
       }
       
    .header{
        width: 95%;
        margin-top: 85px;
        height: 33vh;
        padding-bottom: 0px;
        margin-left: 2%;
        word-spacing: -10px;
         background: linear-gradient(deg, black 50%, #d9d7d7 50% );
   
    }
       .header h2{
           font-size: 18px;
       }
       .intro{
           margin-top: 40px
       }
       .header h3{
           font-size: 16px
       }
       .header h1{
           font-size: 25px
       }
       .header h2 span{
           margin-right: 10px
       }
       .header h3 span{
           margin-right: 10px
       }
       .box-container{
           scale: 0.8
       }
    .card{
        width: 100%;
        height: 110%;
        font-size: 15px;
        font-family: Inter;
    }
    .container{
      width: 85%;
        gap:70px;
        scale: 0.95;
        margin-top: 35px;
        justify-content: center;
        align-items: center;
        margin-left: 1%;
        padding: 30px
    }
    .seemore{
        right:15px;
        margin-top: 45px;
        font-size: 14px;
        color: grey
    }
       #recent{
           margin-top: 45px;
           font-size: 16px;
           font-family: Inter;
           height: 20px
       }
       .post-box{
           margin-top: 30px;
           width: 80%;
           margin-left: 8%;
       }
       #preview{
           width: 20%;
           height: 30%;
           border-radius: 10px;
           top: 30px
       }
       
       .profileinfo{
        width: fit-content;
        right:4%;
        font-size:13px;
        height:3vh;
        top: 8%;
       }
       .seemore img{
        transform:translate(0px,-3px);
       }
       #loading{
        margin-top: 150px;
       }
       #userIcon{
        width: 15px;
       }


       .cardtext h3{
         transform: translate(58%,40%);
   
       }
.cardtext p{
     transform: translate(0%,120%);
   
}
#actions li{
      margin-right: 25%;
    transform: translate(100%,300%);
      
}
   }

@media (max-width:430px){
    .container{
   width: 83%;    
    }
    .header{
        letter-spacing: -15px
    }
     .navbar div{
margin-right: -0.5%;
display: none;
   }
.navbar ul li{
    visibility: hidden;
    margin-right: 120%;
    max-width: 100px;
}
.navbar li span{
    transform: translate(20%,-10%);
   visibility: visible;
}
.navbar ul{
    margin-left: -95%;
}
.navbar{
    height:5vh
}
    .post-box{
        width: 80%;
        margin-left: 7%;
    }
    .header h2{
       font-size: 14.5px;
    }
    
}
@media (max-width:390px){
    .container{
      width: 82%; 
    } 
    .header h2{
        letter-spacing: 10px;
        font-size:14px 
    }
    
.navbar ul li{
    visibility: hidden;
    margin-right: 110%;
    max-width: 100px;
}
.navbar li span{
    transform: translate(20%,-14%);
   visibility: visible;
}
.navbar ul{
    margin-left: -95%;
}
.navbar{
    height:5vh
}
       .header h3{
           font-size: 15px
       }
       .header h1{
           font-size: 25px
       }

        .cardtext h3{
         transform: translate(65%,40%);
   
       }
.cardtext p{
     transform: translate(0%,80%);
   
}
#actions li{
      margin-right: 25%;
    transform: translate(80%,250%) scale(0.9); 
}
.timestamp{
    margin-top: 12%;
    margin-left: 13%;
}

.userimage{
     transform: translate(10%,55%);
   width: 12%;
}
.card{
    padding-bottom: 5%;
}
}
@media (max-width:380px){
    
.navbar ul li{
   margin-right: 115%;
    max-width: 100px;
}
.navbar li span{
    visibility: visible;
}
.navbar ul{
    margin-left: -105%;
}
.navbar{
    height:5vh
}
    .container{
        width: 80%;
        margin-left: -1%;
    }
    .card{
        height: 330px;
    }
   .timestamp{
    margin-bottom: 20px;
    margin-left: 15%;
    margin-top: 14%;
   }
   #actions li{
transform: translate(80%,220%) scale(0.9); 

   }
}

@media (max-width:370px){
   .navbar ul{
    margin-left: -107%;
}
.navbar ul li{
   margin-right: 110%;
    max-width: 100px;
}
}
@media (max-width:360px){
    .userimage{
        width: 13%;
    }
}
