html, body{
     margin:0;
  padding: 0;
  background: linear-gradient(135deg, #cabcbc 0%, #e4e8f0 100%);
overflow-y: auto;
font-family: Manrope;
}

nav{
    justify-content: center;
    background: rgba(255,255,255,0.3);
  border:1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0px 1px 12px rgba(0,0,0,0.1);
    position: fixed;
    backdrop-filter:blur(20px);
  z-index:1;
  width: 70%;
  justify-content: center;
  align-items: center;
 margin-left: 15%;
 border-radius: 30px;
margin-top: 10px;
height: 7%;
}
nav p{
    font-family: Audiowide;
}
.logo{
    margin-left: 5%;
    font-size: 25px;
    margin-top: -1%;
}

nav button{
    position: absolute;
    top: 20%;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
   border: none;
    background-color: black;
    color: white;
    transition: 0.3s ease;
    font-family: Inter;
    cursor: pointer;
}

.box{
    display: flex;
    justify-content: center
}
.signup-container{
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
height: 130vh;
width: 50%;
padding: 20px;
border-radius: 20px;
border: none;
background-color: rgba(255,255,255,0.7);
backdrop-filter: blur(20px);
box-shadow: 0px 4px 20px rgb(0,0,0,0.3);
font-family: Inter;
padding-top: 50px;
margin-bottom: 20px;
}


#step2{
    margin-top: 100px;
}
h3{
    font-size: 30px;
    font-family: Audiowide;
    margin-top: -20px;
}
.start{
font-size: 20px;
transform: translate(0px,-20px);
color: gray;

}
label{
    display: flex;
    position: relative;
justify-content: center;
margin-left: -60%;
padding-bottom: 5px;
font-family: Inter;
}
.usernm{
    margin-left: -64%;
}
.psw{
    margin-left: -64%;
}

.signup-container input{
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    background-color:#ffffff;
    font-family: Lato;
    font-size: 18px;
}
input:focus{
    outline: none;
}

#signup{
    width: 70%;
    font-size: 18px;
    padding: 6px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s ease;
    font-family: Inter;
}
#signup:hover{
    background-color: white;
    color: black;
}
.already{
    margin-top: 30px;
    font-family: Inter;
}
.already a{
font-weight: 100;
    color: black;
}

#successful-su{
    margin-left: -55%;
    margin-top: -1%;
    font-size: 14px;
    font-family: Inter;

}

#edit{
    display: flex;
 margin-right: -65%;
 background-color: white;
 border-radius: 50%;
transform: translateY(-300%);
}

@media (max-width:780px){
.signup-container{
    width: 80%;
}
#signup{
    height: 40px;
}
#edit{
    margin-right: -67%;
}
#getstarted{
    top: 16px;
}
}

@media (max-width:480px){
label{
    margin-left: -50%;
    font-size: 135x;
}
    .usernm{
    margin-left: -60%;
}
.psw{
    margin-left: -59%;
}
.already{
    transform: translate(0px, 20px);
}
#getstarted{
    height: 35px;
 
    right: 20px;
    padding: 10px;
}
.start{
    font-size: 15px;
}
h3{
    font-size: 23px;
}
input{
    padding:7px;
    border: 2px solid rgba(255,255,255,0.5);
    width: 90%;
}
#signup{
    height: 30px;
    width: 85%;
}

nav{
    width: 80%;
    margin-left:10%;
}

.logo{
    margin-top: -2%;
}
.box{
    margin-bottom: 20px;
}
.signup-container{
   height: 110vh;
}
}

@media (max-width:430px){
.logo{
    margin-top: -6%;
}
#getstarted{
    top: 5px;
}
}

@media (max-width:390px){
h3{
    font-size: 20px;
}
}




